  <div class="container-fluid" *ngIf="members">
	<div class="row">
		<div class="col-12 col-sm-6 col-md-4 col-lg-3 lesson-card" *ngFor="let member of members">
			<div class="card lesson-border">
				<img class="card-img-top" src="{{member.url}}" alt="Card image cap">
				<div class="card-body">
					<p class="card-text" text-align="center"><b>{{member.name}}</b></p>
					<!-- <p class="card-text"><b>Date: </b>{{lesson.startdate}}</p>
					<h5 class="card-title"><b>Title: </b>{{lesson.title}}</h5> -->
					<p class="card-text"><b>{{member.description}} </b></p>
					<!-- <p class="card-text"><b>Category: </b>{{lesson.category}}</p> -->
					<div *ngIf="member.bio_content.length != 0">
					<button type="button" class="btn btn-lesson" (click)="open(member)">Read More</button>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>