<!-- Footer -->
<footer class="page-footer text-light footer-light bg-dark">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-3">

        <!-- Content -->
        <h8>Quick Links</h8>
        <ul class="list-unstyled">
          <!-- <li>
            <a class="fa" [routerLink]="['/auth','signup']" routerLinkActive="router-link-active">Registration</a>
          </li> -->
          <!-- <li>
            <a class="nav-link" [routerLink]="['/auth','login']" routerLinkActive="router-link-active">Login</a>
          </li> -->
          <li>
            <a class="fa" target ="_blank" href="https://www.paypal.me/KahlarInc"><h8>Pay Here</h8></a>
          </li>
          <li>
            <p><a href="mailto:music_group@kahlar.com"><i class="fa fa-envelope" aria-hidden="true">  Contact Us</i></a></p>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <div class="col-md-6">
        <div class="foot_connected ">
          <h8>Stay Connected</h8>
          <p >Kahlar DC<br> 13808 Rhapsody Lane <br>Silver Spring, MD - 20904</p>
          <p><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3097.5588926629766!2d-76.94550868471514!3d39.07096554429963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7c4c8729f6c6f%3A0x800f3ffe89494f14!2s13808%20Rhapsody%20Ln%2C%20Silver%20Spring%2C%20MD%2020904!5e0!3m2!1sen!2sus!4v1602027363724!5m2!1sen!2sus" width="600" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe></p>
          <!-- <p class="mbl">+91-33-23773395 / 23810559</p>
          <p class="tel">+91-33-23774371</p> -->
      </div>


        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3">

          <!-- Links -->
          <h8>Follow Us on</h8>

          <ul class="list-unstyled">
            <li>
              <a href="https://www.facebook.com/kahlardc/" target="_blank"><i class="fa fa-facebook-official"
                aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UChNc5X5t_FVTIkjEmts21iQ" defer="" target="_blank"><i
                class="fa fa-youtube-square" aria-hidden="true"></i></a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3 text-light">© 2020 Copyright:
    <a href="http://www.kahlar.com">kahlar.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->