<!-- Footer -->
<footer class="page-footer font-small text-light pt-1 footer-dark bg-dark">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left ">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-3 mt-md-0 mt-3" id="text">

        <!-- Content -->
        <!-- <h5 class="text-uppercase text-light">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p> -->

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase text-light">Quick Links</h5>

        <ul class="list-unstyled">
          <li>
            <a class="nav-link" href="#">Link 1</a>
          </li>
          <li>
            <a class="nav-link" href="#">Link 2</a>
          </li>
          <li>
            <a class="nav-link" href="#">Link 3</a>
          </li>
          <li>
            <a class="nav-link" href="#">Link 4</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->

        <h5 class="text-uppercase text-light">Stay Connected</h5>
        <p ><i class="fa fa-map-marker" aria-hidden="true"></i>Kahlar DC
           Rhapsody Lane
        Silver Spring, MD 20904
      United States</p>
        <p ><a data-vbtype="iframe" class="gmap vbox-item"
            href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3686.348316220575!2d88.34329841543821!3d22.491111041623768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a0270ea842d4e41%3A0x1f9bb4c7167b50ea!2sITC+Sangeet+Research+Academy!5e0!3m2!1sen!2sin!4v1470721757053;output=embed"><i class="fa fa-globe" aria-hidden="true"></i>Click
            here</a> to view map</p>
        <p><i class="fa fa-mobile" aria-hidden="true"></i>+91-33-23773395 / 23810559</p>
        <p><i class="fa fa-phone-square" aria-hidden="true"></i>+91-33-23774371</p>
        <p><i class="fa fa-envelope" aria-hidden="true"></i><a href="mailto:music_group@kahlar.com">music_group@kahlar.com</a></p>

      </div>
      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase text-light">Follow Us on</h5>
        <div>
          <p><a href="https://www.facebook.com/kahlardc/" target="_blank"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></p>
          <p><a href="https://www.youtube.com/channel/UChNc5X5t_FVTIkjEmts21iQ" defer="" target="_blank"><i class="fa fa-youtube-square" aria-hidden="true"></i></a></p>
        </div>


      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="http://www.kahlar.com">kahlar.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->