<!-- Footer -->
<footer class="footer text-light footer-secondary bg-dark">
  <!-- Footer Links -->
  <!-- <div class="container-fluid text-center"> -->

    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-sm-3">
        <!-- Content -->
        <small>Quick Links</small>
        <ul class="list-unstyled">
          <!-- <li>
            <a class="fa" [routerLink]="['/auth','signup']" routerLinkActive="router-link-active">Registration</a>
          </li> -->
          <!-- <li>
            <a class="nav-link" [routerLink]="['/auth','login']" routerLinkActive="router-link-active">Login</a>
          </li> -->
          <li>
            <a class="fa fa-paypal" aria-hidden="true" target ="_blank" href="https://www.paypal.me/KahlarInc"></a>
            <a class="fa fa-envelope" aria-hidden="true" href="mailto:music_group@kahlar.com"> </a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->
      <div class="col-sm-6">
          <small>Stay Connected</small>
          <p >Kahlar Inc.,<br> 13808 Rhapsody Lane <br>Silver Spring, MD - 20904</p>
           <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3097.5588926629766!2d-76.94550868471514!3d39.07096554429963!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7c4c8729f6c6f%3A0x800f3ffe89494f14!2s13808%20Rhapsody%20Ln%2C%20Silver%20Spring%2C%20MD%2020904!5e0!3m2!1sen!2sus!4v1602027363724!5m2!1sen!2sus" width="400" height="200" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
           <!-- <p class="mbl">+91-33-23773395 / 23810559</p> -->
          <!-- <p class="tel">+91-33-23774371</p> -->
      </div>

        <!-- Grid column -->
        <div class="col-sm-3">

          <!-- Links -->
          <small>Follow Us on</small>

          <ul class="list-unstyled">
            <li>
            <a class="fa fa-facebook" aria-hidden="true" href="https://www.facebook.com/kahlardc/" target="_blank"></a>
            <a class="fa fa-youtube" aria-hidden="true" href="https://www.youtube.com/channel/UChNc5X5t_FVTIkjEmts21iQ" target="_blank"></a>
            </li>
          </ul>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row -->
    <p>© 2020 Copyright: <a href="http://www.kahlar.com"> kahlar.com</a></p>
  <!-- </div> -->


</footer>
<!-- Footer -->