<div class="card">
    <h5 class="card-header">All User list</h5>
    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let user of users">
                    <td scope="col"> 
                        {{ user.payload.doc.data().name }}
                    </td>
                    <td scope="col">
                        {{ user.payload.doc.data().email }}
                    </td>
                    <td scope="col">
                        {{ user.payload.doc.data().phone }}
                    </td>
                    <!-- <td>
                        <span *ngFor="let coffee of user.payload.doc.data().user">
                            {{ user }}
                        </span>
                    </td> -->
                    <td>
                    <button type="button" class="btn btn-danger" [hidden]="user.payload.doc.data().completed" (click)="delUser(user)">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>