<!-- <div class="jumbotron">
      <h1>Angular CLI v6 + Bootstrap & FontAwesome</h1>
      <p>
        In this tutorial you learn how to use Angular CLI v6 with Bootstrap and FontAwesome!
      </p>
    </div> -->


<div class="container-fluid">
  <div class="row">
    <div class="lesson-card">
      <div class="row-12 row-sm-4 row-md-4 row-lg-6 card lesson-border">
        <div class="card-body">
          <p class="card-text"><b>{{headerContent}} </b> </p>
        </div>
      </div>

      <div class="lesson-card">
        <div class="row-12 row-sm-4 row-md-4 row-lg-6 card lesson-border">
          <h5 class="card-title"><b>{{listHeader}} </b></h5>
          <div class="card-body" *ngFor="let item of listItems">
            <p class="card-text"><i class="fa fa-chevron-right" aria-hidden="true"></i><b>   {{item}} </b> </p>
          </div>
        </div>

      </div>
      <div class="lesson-card">
        <div class="card-body" *ngFor="let content of contents">
          <p class="card-text"><b>{{content}} </b> </p>
        </div>
      </div>

      <div class="lesson-card">
        <div class="row-12 row-sm-4 row-md-4 row-lg-6 card lesson-border">
          <div class="card-body">
            <p class="card-text"><b>{{footerContent}} </b> </p>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>