<div class="d-flex align-items-center justify-content-center min-vh-100">
<div class="container-fluid">
  <div class="row">
    <div class="lesson-card">
      <div class="card-body">
        <p class="card-text">{{headerContent}} </p>
      </div>


      <div class="lesson-card">
        <div class="card-body"><p class="card-text">{{listHeader}} </p></div>
        <div class="card-body" *ngFor="let item of listItems">
          <p class="card-text"><i class="fa fa-chevron-right" aria-hidden="true"></i> {{item}} </p>
        </div>

      </div>
      <div class="lesson-card">
        <div class="card-body" *ngFor="let content of contents">
          <p class="card-text">{{content}} </p>
        </div>
      </div>

      <div class="lesson-card">
        <div class="card-body">
          <p class="card-text">{{footerContent}} </p>
        </div>

      </div>
    </div>


  </div>
</div>
</div>